*{
  box-sizing: border-box;
}
body {
  margin: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  overflow: scroll;
 
}

.auth-form {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.auth-label {
  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-content: flex-start;
  height: 60px;
}

.auth-input,
.auth-error,
.auth-label-title {
  display: inline-block;
  width: 300px;
  margin: 0;
  padding: 0;
}

.auth-error {
  color: red;
}

button {
  margin-top: 10px;
  width: 300px;
  &:hover {
    cursor: pointer;
  }
  &:disabled {
    cursor: default;
    background-color: gray;
  }
}
