.wrapper_main{
    width: 100%;
    display: flex;
   flex-direction: column;
   gap: 100px;

    .main_paragraph{
        text-align: center;
    }

    .wrapper_btn{
        width: 100%;
        display: flex;
        justify-content: space-around;
        gap: 10px;
    }

    button{
       max-width: 150px;
    }
}